<h1>Support Requests</h1>

<table class="table table-hover table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Deparment</th>
    <th>Message</th>
    <th>Actions</th>
    <th>Progress</th>
  </tr>

  <% @supports.each do |s| %>
  <tr>
    <td><%= s.name %></td>
    <td><%= truncate(s.email,:length => 15) %></td>
    <td><%= s.department %></td>
    <td><%= truncate(s.message,:length =>15) %></td>
    <td>
      <%= link_to "Edit", edit_support_path(s) %>
      <%= link_to "Delete", support_path(s), method: :delete %>
    </td>
    <td>
      <%= s.job_done ? "Done" : "Not Done" %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @supports %>
